@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  *{
    @apply box-border
  }
  
  html{
    @apply font-poppins
  }
  
  body{
    @apply bg-gray-100
  }

  section{
    @apply pt-8
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
    font-display: swap;
  }
  
  *::-webkit-scrollbar {
    @apply w-2 rounded-2xl
  }
  
  *::-webkit-scrollbar-track {
    @apply bg-gray-200
  }
  
  *::-webkit-scrollbar-thumb {
    @apply bg-site
  }
  
  #footerNav::-webkit-scrollbar,
  #emlakDetayTab::-webkit-scrollbar,
  .danismanlarDiv::-webkit-scrollbar,
  #footerNav::-webkit-scrollbar,
  #bannerNav::-webkit-scrollbar,
  #KurumsalHeaderButtons::-webkit-scrollbar,
  .pagination::-webkit-scrollbar{
    @apply md:h-2 h-0
  }
  
  #Ilceler ul::-webkit-scrollbar {
    @apply h-1.5
  }
  
}

@layer utilities {
  
  .DetailContent{
    @apply text-gray-600
  }
  
  .DetailContent p{
    @apply mb-2 lg:text-lg text-base
  }
  
  .DetailContent ul{
    @apply list-disc pl-6
  }
  
  .DetailContent ul li{
    @apply py-1
  }
  
  .DetailContent h1,
  .DetailContent h2,
  .DetailContent h3,
  .DetailContent h4,
  .DetailContent h5,
  .DetailContent h6{
    @apply mt-6 mb-2 font-semibold tracking-wide lg:text-xl text-xl text-black capitalize
  }
  
  .sweetButtonColor{
    @apply !bg-site !outline-none !ring-0
  }
  
}