@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  *{
    @apply box-border
  }
  
  html{
    @apply font-poppins
  }
  
  body{
    @apply bg-gray-100
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
    font-display: swap;
  }
  
  *::-webkit-scrollbar {
    @apply w-2 rounded-2xl
  }
  
  *::-webkit-scrollbar-track {
    @apply bg-gray-200
  }
  
  *::-webkit-scrollbar-thumb {
    @apply bg-site
  }
  
  #bannerNav::-webkit-scrollbar {
    @apply h-0
  }
  
  #footerNav::-webkit-scrollbar {
    @apply h-0
  }
  
  #Ilceler ul::-webkit-scrollbar {
    @apply h-1.5
  }
  
}

@layer utilities {

  #IlanlarFiltre ul li span {
    @apply transition-all pb-2 flex items-center gap-x-1 w-full py-1 leading-3;
  }

  #IlanlarFiltre ul li > ul {
    @apply mb-2;
  }

  #IlanlarFiltre ul li > ul li span {
    @apply pl-4 py-2;
  }

  #IlanlarFiltre ul li > ul li > ul {
    @apply pl-4 py-1;
  }

}
